@model IEnumerable<UMS.Models.TeacherView>

@{ 
    ViewBag.Title = "Teachers";
}

<h1>Teachers</h1>

<p>
    <a href="@Url.Action("AddOrEdit", "Teacher")" class="btn btn-default"><i class="fa fa-plus"></i>Create new</a>
</p>

<table class="table table-striped">
    <thead class="table-healing">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.LastName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.FirstName)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.HireDate)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Office.Location)
            </th>

            <th>
                Actions
            </th>
        </tr>
    </thead>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.LastName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.FirstName)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.HireDate)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Office.Location)
            </td>

            <td>
                <a href="@Url.Action("AddOrEdit", "Teacher", new { id = item.ID})" class="btn btn-default"><i class="fa fa-pencil"></i>Edit</a>
                <a onClick="Delete(@item.ID)" class="btn btn-default"><i class="fa fa-trash"></i>Delete</a>
            </td>
        </tr>
    }
</table>

@section scripts{ 
    <script>
        $(function () {
            var succeessMessage = '@TempData["SuccessMessage"]';
            if (successMessage != '') {
                alertify.success(successMessage);
            }
        });

        function Delete(id) {
            alertify.confirm('Delete this Teacher', 'Are you sure?', function () {
                window.location.href = '@Url.Action("Delete", "Teacher")/' + id;
            }, null);
        }
    </script>
}